.login_panel {
  height: 100vh;
  display: flex;
}
.login_container {
  /* margin: 0px 25px 0px 25px; */
  /* height: calc(100vh - 30px); */
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background: #b3b3b3; */
  /* background: ; */
}
.login_pos {
  width: 100%;
}
.login_details {
  width: 380px;
  margin: auto;
  padding: 30px;
  border-radius: 15px;
  background: #ffffffdd;
  z-index: 999;
  box-shadow: 0 0px 2px 2px #fff;
}
.cpy_logo {
  display: flex;
  justify-content: center;
}
.login_header {
  justify-content: center;
  display: flex;
  font-size: 28px;
  font-family: poppins_regular;
  margin-bottom: 25px;
}

.login_btn {
  width: 100%;
  font-size: 18px;
  outline: none;
  border: 0;
  height: 40px;
  border-radius: 30px;
  background: #0e3f55 !important;
  color: #ffff !important;
}
.iSolve_logo {
  margin-top: 40px;
  text-align: center;
}
.pwd_by {
  font-size: 9px;
  color: #000;
  padding-left: 40px;
  margin-bottom: -5px;
  font-family: poppins_semibold;
}

@media (max-width: 500px) {
  .login_details {
    width: 310px;
    margin: auto;
  }
}
.login_img {
  height: 100%;
  display: flex;
  align-items: center;
}
.bacc {
  width: 100%;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
}
